{
  "swagger": "2.0",
  "info": {
    "title": "ToyotaLogisticsSystem",
    "version": "1.0",
    "description": "Import from \"ToyotaLogisticsSystem\" Function App"
  },
  "basePath": "/ToyotaLogisticsSystem",
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [{
    "apiKeyHeader": []
  }, {
    "apiKeyQuery": []
  }],
  "paths": {
    "/VehicleRequest": {
      "get": {
        "operationId": "get-vehiclerequest",
        "summary": "VehicleRequest",
        "parameters": [{
          "name": "vin",
          "in": "query",
          "required": true,
          "type": "string"
        }, {
          "name": "model",
          "in": "query",
          "type": "string"
        }],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/default"
            },
            "examples": {
              "application/json": {
                "vin": "JTEES42A082109390",
                "make": "Toyota",
                "model": "Highlander",
                "body": "4dr SUV",
                "year": 2020,
                "transmission": "automatic",
                "accessories": [{
                  "assecoryid": "61a6e7c5-e5ec-ea11-a817-000d3a5bf119",
                  "accesorytype": "Exterior",
                  "accessoryname": "Alloy Wheel Locks"
                }, {
                  "assecoryid": "14ef8c76-e7ec-ea11-a817-000d3a5bf119",
                  "accesorytype": "Exterior",
                  "accessoryname": "Ball Mount"
                }, {
                  "assecoryid": "945c59ce-e7ec-ea11-a817-000d3a5bf119",
                  "accesorytype": "Exterior",
                  "accessoryname": "Blackout Emblem Overlays"
                }, {
                  "assecoryid": "c14629eb-72ec-ea11-a817-000d3a5bf119",
                  "accesorytype": "Interior",
                  "accessoryname": "Frameless HomeLink Mirror"
                }, {
                  "assecoryid": "047a4d06-ebec-ea11-a817-000d3a5bf119",
                  "accesorytype": "Interior",
                  "accessoryname": "All-Weather Floor Liners"
                }, {
                  "assecoryid": "94451b31-ebec-ea11-a817-000d3a5bf119",
                  "accesorytype": "Interior",
                  "accessoryname": "Cargo Cover"
                }]
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "default": {
      "type": "object",
      "properties": {
        "vin": {
          "type": "string"
        },
        "make": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "year": {
          "type": "integer"
        },
        "transmission": {
          "type": "string"
        },
        "accessories": {
          "type": "array",
          "items": {
            "required": ["assecoryid", "accesorytype", "accessoryname"],
            "type": "object",
            "properties": {
              "assecoryid": {
                "type": "string"
              },
              "accesorytype": {
                "type": "string"
              },
              "accessoryname": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [],
  "host": "toyotalogisticssystem-apim.azure-api.net"
}
